@import url("https://fonts.cdnfonts.com/css/general-sans");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "General Sans", -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

body{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.title{
    padding: 2rem 0.5rem;
    text-transform: capitalize;
    color: #17181c;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
}

.moibileContainer {
    box-shadow: 0 0 10px 15px #8f7e7e1a;
    border-radius: 10px;
    width: 100%; 
    max-width: 600px;
    position: relative;
     transition: box-shadow 400ms ease-out, transform 400ms ease-out;
}

  .moibileContainer::before,
  .moibileContainer::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(205, 79, 33);
  }
  
  .moibileContainer::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
  }
  
  .moibileContainer::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
  }
  

#icon{
   font-size: 1.5rem;
    color: rgb(205, 79, 33);
  }


header{
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.show{
    text-align: center;
    color: rgb(205, 79, 33);
    font-size: small;
    margin-top: 0.5rem;
    display: block;
    cursor: pointer;
}

h1{
    padding: 1rem;
    text-transform: capitalize; 
}

label{
    position: relative;
}

header input{
    border: none;
    background-color: #ece9e6;
    border-radius: 7px;
    padding: 0.7rem 1rem;
    font-family: inherit;
    margin-left: 2.3rem;
}

#search{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 0.6rem;
}

header button{
    border: none;
    background-color: transparent;
    color: #aaa;
    font-size: 1rem;
    margin-left: 20px;
    cursor: pointer;
}

header button:hover{
    color: #6d6d3f;
}

.favMealContainer{
    padding: 2rem 1rem;
    text-align: center;
    background-color: #121212;
    color: #fff;
    font-size: larger;
    letter-spacing: 3px;
}

.favMealContainer>h2{
    text-transform: capitalize;
    padding: 1rem 2rem 2rem;
}

.favMeals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    transition: 400ms ease-out;
}

img{
    max-width: 100%;
}

.favMeals li{
    position: relative;
    width: 75px;
    margin: 5px;
    transition: 400ms ease-out;
}

.favMeals li:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.favMeals li .clear{
    background-color: transparent;
    border: none;
   color: #fff;
   position: absolute;
   opacity: 0;
   top: -0.3rem;
   right: -0.2rem;
   font-size: 0.9rem;
   cursor: pointer;
}

.favMeals li .clear:hover{
  color: rgb(205, 79, 33);
}

.favMeals li:hover .clear{
    opacity: 1;
}

.favMeals li img{
    border: 2px solid rgb(205, 79, 33);
    /* box-shadow: 0 0 10px 2px #3333331a; */
    object-fit: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.favMeals li span{
    display: inline-block;
    font-size: 0.6rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;
    width: 85px;
}

.favMeals li:hover span{
    cursor: default;
}

.meal{
    background-color: #17181c;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 8px;
    margin: 2rem;
    overflow: hidden;
}

.mealHeader{
   position: relative;
}

.mealHeader .random{
    position: absolute;
    top: 1.5rem;
    background: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    color: #17181c;
}

.mealheader img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.mealBody{
    background: rgb(205, 79, 33);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.mealBody h4{
    color: white;
    display: inline-block;
    width: 100px;
}

.mealBody .favBtn{
    color: white;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

.mealBody .showRecipe{
    color: white;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

.mealBody .showRecipe:hover{
    color: #6d6d3f;
}

.mealBody .favBtn.active{
    color: red;
}

.favMeals .showRecipe{
    color: rgb(117, 112, 112);
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    cursor: pointer;
}

.favMeals .showRecipe:hover{
    color: #fff;
}

.mealRecipeContainer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 400ms ease-out;
}

.mealRecipeContainer.hidden{
    opacity: 0;
    pointer-events: none;
    overflow: auto;
}

.mealRecipe{
    position: relative;
    box-shadow: 0 0 10px 15px #8f7e7e1a;
    max-width: 550px;
    width: 60%;
    max-height: 100vh;
    padding: 1.2rem 2rem;
    border-radius: 5px ;
    overflow: auto;
}

.mealRecipe::-webkit-scrollbar{
    display: none;
}

.mealRecipe h1{
    text-align: center;
    padding: 0 0 1rem 0 ;
    color: rgb(205, 79, 33);
}

.mealRecipe h3{
    color: rgb(205, 79, 33);
    padding: 1rem 0 0.7rem 0 ;
    
}

.mealRecipe p {
    color: #6d6d3f;
    padding-top: 0;
    text-align: justify;
    line-height: 1.5;
}

.mealRecipe ul{
    padding:0 0 1rem 2rem ;
    color: #6d6d3f;
    word-spacing: 2px;
    line-height: 1.8;
}

.mealRecipe .closePopup{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #121212;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    cursor: pointer;
}

.mealRecipe .closePopup:hover{
    color: rgb(205, 79, 33);
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    word-spacing: 0.2rem;
    line-height: 1.2;
}

.appInfo{
    width: 90%;
    border-radius: 0px 7px 0 7px;
    color: #fff;
    margin: 1rem;
    padding: 0.7rem;
    background-color: #17181c;
    cursor: pointer;
}

.appInfoImage{
    margin-bottom: 1rem;
}

.footer{
    width: 80%;
}

.footerImage{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/pexels-ella-olsson-1640777.jpg); 
    height: 280px; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
} 

.footerAbout{
    color: #6d6d3f;
    padding: 0.5rem;
    font-size: small;
}

.onscroll{
    color: #aaa;
    display: none;
}
