*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background: #ece9e6;
    background: -moz-linear-gradient(#2e2b2b, #4e4d4d);
    background: linear-gradient to right( #555353, #222121);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/pexels-karolina-grabowska-4033327.jpg);
    width: 380px;
    height: 100%;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 13px 13px 13px 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    padding-top: 2.5rem;
    color: #ffff;
    text-transform: capitalize;
}

p{
   color: #caccd3;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    border: none;
    box-shadow:  0 0 5px black;
    background-color: transparent;
    font-size: 1rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    color: #aaacb4;
    padding: 0.3rem;
}

button:hover{
    background-color: #aaacb4;
    color: #ffff;
    cursor: pointer;
}